<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295638920480-eiamgeq0fotli6e459r5hu3ge61c056s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295638920480-eiamgeq0fotli6e459r5hu3ge61c056s</string>
	<key>API_KEY</key>
	<string>AIzaSyA6e6NIlckeIjGU8u9OX5eo9ANzMDsnkUk</string>
	<key>GCM_SENDER_ID</key>
	<string>295638920480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.HDNotes</string>
	<key>PROJECT_ID</key>
	<string>hdnotes-7c916</string>
	<key>STORAGE_BUCKET</key>
	<string>hdnotes-7c916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295638920480:ios:5011dc03875b10470d3b45</string>
</dict>
</plist>